* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

img {
    max-width: 100%;
}

:root {
    /*Colores interfaz*/
    --primario:#4672ed;
    --secundario:#F19930;
    --oscuro:#2E271F;
    --medio-oscuro:#625A50;
    --medio-claro:#827464;
    --claro:#FFDCB3;
    --fondo:#FFE7CC;
    --blanquecino:#FBFAF8;
    --blanco:#FFFFFF;
}

/*Agregamos los estilos de celular*/
.main {
    overflow: hidden;
    padding: 24px;
}

.usuario {
    background-color: var(--fondo);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 20px;

    img {
        width: 120px;
        height: 120px;
        object-fit: cover;
       border-radius: 50px;
    }

    .datos {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .datos__nombre {
            display: flex;
            flex-direction: column;
            gap: 8px;
            
            h1 {
                font-size: 24px;
                text-align: center;
                color: var(--primario);
            }

            p {
                font-size: 16px;
                text-align: center;
                color: var(--secundario);
            }
        }

        .datos__icons {
            display: flex;
            justify-content: center;
            gap: 16px;

            a {
                font-size: 24px;
                line-height: 24px;
                color: var(--medio-oscuro);
            }
            a hover {
                color: var(--primario);

            }
        }

        .datos__cv {
            display: flex;
            justify-content: center;

            a {
                background-color: var(--secundario);
                padding: 8px 16px;
                border-radius: 8px;
                color: #4672ed;
                font-weight: 500;
            }

            a:hover {
                background-color: brown;

            }
        }
    }
}